/*#region Utility Classes */
.clickable { cursor: pointer; }

.buttonWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.8rem;
}
.buttonWrap > * { margin-right: 0.2rem; }
/*#endregion */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background: blue; */
  /* color: white; */

  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* #region Header */
header {
  /* background: red; */
  position: sticky;
  z-index: 99;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
}

/* #region Header - Search Buttons */
header #searchTermButtonsArea {
  background: yellowgreen;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header #searchTermButtonsArea .searchButtonWrap {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

header #searchTermButtonsArea .searchButton {
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 0.05rem;
  box-shadow: 0 3px 0 0 #007299;
  padding: 0.2rem 0.5rem;
  border: 0 none;
  border-color: #285e8e;
  color: white;
  background: #33a6cc;
}

header #searchTermButtonsArea .searchButton:active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
/* #endregion */

/* #region Header - Form */
header form {
  background: turquoise;
    padding: 1rem;
  max-width: 30vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

header form input.addSearch_submit {
  display: none;
}
header form .addSearch_submit {
  cursor: pointer;
}
header form #addSearch_input {
  width: 100%;
  border: none;
  background: none;
  color: white;
  border-bottom: 3px solid darkblue;
  border-radius: 3px;
  padding-left: 1rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  /* flex: 1; */
}
header form #addSearch_input::placeholder {
  color: white;
  opacity: 0.7;
}
header form #addSearch_input:focus {
  background-color: darkblue;
}
/* #endregion */

/* #endregion */

/* #region Main */
main {
  background: orange;
  flex: 1;
  /* min-height: 200vh; */
  display: flex;
  flex-flow: row nowrap;
}

/* #region Main - Results */
main section:first-child {
  flex: 1;
}

main section p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

main #searchResults {
  background: orangered;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  justify-content: space-evenly;
  padding: 0.3rem
}

/* #endregion */

/* #region Main - Favorites aside */
main aside {
  background: green;
  width: 30vw;
}

main aside .fa-heart {
  color: red;
}
main aside .fa-stack-1x {
  color: white;
}

main aside #favorites {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main aside #favorites img {
  max-width: 100%;
  height: auto;
}
main aside #favorites .fas,
main aside #favorites .far {
  font-size: 1rem;
}
/* #endregion */

/* #endregion */

.favImg {
  transition: opacity 0.6s;
  background: transparent;
  border: none;
  pointer-events: all;
}

.fas.fa-heart {
  color: red;
}

.far.fa-heart {
  color: white;
}

.favImg:not(.favorited) .fas,
.favImg.favorited .far {
  display: none;
}

.favImg.favorited .fas,
.favImg:not(.favorited) .far {
  display: inherit;
}

.imgResult {
  background: darkslategray;
  margin-top: 0.5rem;
  margin-right: 0.3rem
}

.imgResult p {
  padding-top: 0.5rem;
  color: white;
}

.imgOptions {
  pointer-events: none;
  display: flex;
  flex-flow: row-reverse nowrap;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.6s;
}

figure:hover .imgOptions {
  opacity: 0.5;
}